.footer {
    background-color: $bgr-footer;
    padding-top: 60px;
    padding-bottom: 60px;   

    @include for-size(tablet) {
        display: flex;
    }


    @include for-size(desktop) {
        display: flex;
    }
    
    
}

.address-logo .logo {
    margin-right: 0;

    @include for-size(desktop) {
        margin-right: 93px;
    }
    
}

.footer .address-logo {
    width: 230px;
    padding: 0;
    // margin-right: 70px;
    font-size: 14px;

    @include for-size(mobile) {
        padding-bottom: 60px;
        width: 100%;
    }

    @include for-size(desktop) {
        width: 230px;
        padding: 0;
        margin-right: 70px;
        font-size: 14px;
    }
}

.common {
    display: block;   
    padding: 0;
}

.footer .common-box {
    @include for-size(mobile) {
        width: 100%;
    }
} 

.common__item-list {
    display: flex;

    @include for-size(mobile) {
        justify-content: center;
        padding-bottom: 60px;
    }

}

.common__title {
    color: $header-bg-color;
    margin-top: 0px;    
}

.common__item:not(:last-child) {
    margin-right: 10px;
}

.common__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: $transition-background-color;
}

.common__icon-link:hover, 
.common__icon-link:focus {
    background-color: $accent-text-color;   
    transition: $transition-background-color;
}

.common__icon {
    fill: $footer-text-color;
}

.address {
    margin-top: 20px;
    
    color: $footer-text-color; 
    font-style: normal;   

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__link {
    color: $address-text-color;
    text-decoration: none;
    margin-bottom: 8px;
}

.logo--white {
    color: $hero-text-color;
}

.flex-container {
    max-width: 480px;
    
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    @include for-size(mobile-only) {
        text-align: center;
    }

    @include for-size(tablet-only) {
        display: flex; 
        // flex-direction: row;
        // justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    @include for-size(desktop) {
        display: flex; 
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

// .flex-container {
//     @include for-size(tablet-only) {
//         display: flex;
//         justify-content: space-between;
//     }
// }