.form-section {
    @include for-size(mobile) {
        width: 100%;
    }
    

    @include for-size(desktop) {
        margin-left: 93px;
    }
}

.form-footer {
    @include for-size(desktop) {
        display: flex;
    }
}

.form-footer__field {   
    @include for-size(mobile) {
        // justify-content: center;
        // padding-bottom: 20px;
    }
    

    @include for-size(desktop) {
        display: flex;
        margin-right: 12px;
    }
}

.form-footer__field input {
    width: 450px;    

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 12px;

    @include for-size(mobile-only) {
        height: 50px;
        margin-bottom: 20px;
        
    }

    @include for-size(tablet-only) {
        height: 50px;
        margin-bottom: 20px;
        
    }

    @include for-size(desktop) {
        // height: 50px;
        margin-bottom: 0;
        width: 358px;
    }
}

.form-footer__btn {
    @include for-size(mobile) {
        display: flex;
        justify-content: center;
        
    }
    
}

.form-footer__button {
    display: flex;

    @include for-size(mobile) {
        margin-right: 0;

    }
}


.form-footer__icon {
    margin-left: 10px;
}
